@layout('layouts.app')

@section('content')
    <div class="card">
        <div class="card-body">
        <label>DASBOARD</label>
        <hr>
        Selamat Datang <strong>{{ user.name }}</strong>
        </div>
    </div>
@endsection