<ul class="list-group">
    <li class="list-group-item active">MAIN MENU</li>
    <a href="{{ route('logout') }}" class="list-group-item" style="color: #212529;"><i class="fa fa-sign-out-alt"></i> Logout</a>
</ul>